= render partial: 'home/router_view', locals: { messages: flash_as_messages(flash) + resource_errors_as_messages(resource), props: {'token-email': (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)} }
