<script>
import { PageContentable } from '../page'
import ObjectsControl from 'controls/objects-control/index.vue'
import DossierDefinitionListItem from 'list-items/dossier-definition-list-item.vue'
import Group from 'mixins/models/group'
import { routeFor } from 'helpers/route'

export default {
  name: 'GroupEditContentDossierDefinitions',
  components: {
    ObjectsControl,
    DossierDefinitionListItem
  },
  mixins: [PageContentable, Group],
  computed: {
    group () {
      return this.value
    }
  },
  methods: {
    ...{ routeFor },
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <objects-control
      v-model="value.dossierDefinitions"
      label="Dossiervorlagenauswahl"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.groups.update(value.id), mapping: 'dossier_definition_ids'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.dossierDefinitions.list()}"
      :readonly="!$config.current_user.isAdmin || isReadonly"
      :change-button-tooltip="$config.current_user.isAdmin ? undefined : $t('general.tooltips.onlyAdminsCanChangeSelection')"
      @request-success-data="onUpdated"
    >
      <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
        <dossier-definition-list-item
          :key="item.id"
          :indent="indent"
          :item-link="itemLink"
          :selectable="selectable"
          :selected="selected"
          :skeleton="item.skeleton"
          :value="item"
          :to="routeFor('dossier_definition', item.id)"
          v-on="toggleElement ? { click: () => toggleElement(item)}: {}"
        />
      </template>
    </objects-control>
  </div>
</template>
