<script>
import { PageContentable } from '../page'
import { ListPageContentable } from '../list-page'
import PageListHeader from 'components/page-list-header.vue'
import DataListFilter from 'components/data-list/filter.vue'
import SmartList from 'components/smart-list.vue'
import ObjectListItem from 'list-items/object-list-item.vue'
import CreateFooterMenuEntryDialog from 'dialogs/create-footer-menu-entry-dialog.vue'
import { routeFor } from 'helpers/route'

export default {
  name: 'FooterMenuEntryListContent',
  components: {
    PageListHeader,
    DataListFilter,
    SmartList,
    ObjectListItem,
    CreateFooterMenuEntryDialog
  },
  mixins: [PageContentable, ListPageContentable],
  computed: {
    result () {
      return this.value ? this.value.result : undefined
    }
  },
  methods: {
    ...{ routeFor },
    onCreated (menuEntry) {
      this.$router.push(routeFor('footer_menu_entry', menuEntry.id))
    }
  }
}
</script>
<template>
  <div>
    <create-footer-menu-entry-dialog @success="onCreated">
      <template #activator="{ on }">
        <page-list-header
          title="Fußzeilenmenüeinträge"
          :primary-action-title="$t('footerMenuEntry.actions.create')"
          v-on="on"
        />
      </template>
    </create-footer-menu-entry-dialog>

    <data-list-filter
      v-model="filters"
      @update:filter="$emit('update:prop', { prop: 'filters', value: $event.value, info: $event.field })"
    />

    <smart-list
      v-slot="{ item }"
      :value="result"
      :loading="pageRequestLoading"
    >
      <object-list-item
        :value="{
          title: item.title,
          subtitleElements: [
            item.position,
            item.page ? $router.resolve({ name: 'static-page-show', params: { slug: item.page.slug } }).href : item.url
          ]
        }"
        :to="routeFor('footer_menu_entry', item.id)"
        indent
        :dense="false"
        divider
      />
    </smart-list>

    <v-pagination
      v-if="!pageRequestLoading && result && pages.total() > 1"
      v-model="pages.current"
      :length="pages.total()"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'pages', value: pages })"
    />
  </div>
</template>
