= render partial: 'home/router_view', locals: { messages: flash_as_messages(flash) + resource_errors_as_messages(resource), props: {'reset-password-token': resource.reset_password_token, 'email': User.with_reset_password_token(resource.reset_password_token)&.email} }
