- if local_assigns[:messages]
  - content_for :messages, (raw render partial: "home/messages", formats: [:json], object: local_assigns[:messages]), flush: true
%router-view{local_assigns[:props] || {}}
