<script>
import Vue from 'vue'
import Request from 'api/request'
import Requestable from 'mixins/requestable'
import CustomDialog from 'dialogs/custom-dialog.vue'
import TextControl from 'controls/text-control.vue'
import ObjectsControl from 'controls/objects-control/index.vue'
import GroupListItem from 'list-items/group-list-item.vue'
import map from 'lodash/map'

export default {
  name: 'CreateUserDialog',
  components: {
    CustomDialog,
    TextControl,
    ObjectsControl,
    GroupListItem
  },
  data () {
    return {
      dialogOpen: false,
      addAnother: false,
      successMessage: undefined,
      createRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (data) => {
            if (this.addAnother) {
              this.successMessage = this.$t('user.createDialog.successMessage', { title: data.fullname })
              this.user = {}
            } else {
              this.dialogOpen = false
              this.$emit('success', data)
            }
          }
        }
      }),
      user: null
    }
  },
  computed: {
    isValid () {
      if (this.user) {
        return this.user.email && this.user.email.trim().length > 0 &&
            this.user.firstname && this.user.firstname.trim().length > 0 &&
            this.user.lastname && this.user.lastname.trim().length > 0
      }

      return false
    }
  },
  methods: {
    onDialogOpened () {
      this.user = {}

      this.createRequestable.resetRequestable()

      this.$emit('open')
    },
    onDialogClosed () {
    },
    onOkButtonClicked (index) {
      this.successMessage = undefined
      this.addAnother = index === 0

      /*
      TODO: We use setTimeout here to wait for the objects-control to be closed and update their value.
            This is kind of a hack and it would be better to have a better solution
      */
      setTimeout(() => {
        this.createRequestable.request(
          { method: Request.POST, url: this.$apiEndpoints.users.create() },
          null,
          {
            email: this.user.email,
            firstname: this.user.firstname,
            lastname: this.user.lastname,
            group_ids: map(this.user.groups, 'id')
          }
        )
      }, 50)
    }
  }
}
</script>
<template>
  <custom-dialog
    v-model="dialogOpen"
    :title="$t('user.createDialog.title')"
    fullheight
    :close-on-button-click="false"
    :ok-btn-text="$t('general.buttons.save')"
    :ok-btn-disabled="!isValid"
    :additional-ok-btn-texts="[$t('user.createDialog.buttons.saveAndCreateAnother')]"
    :loading="createRequestable.requestableLoading"
    :error-message="createRequestable.baseErrorMessage"
    :success-message="successMessage"
    content-class="create-user-dialog"
    @click-ok="onOkButtonClicked"
    @click-cancel="dialogOpen = false"
    @open="onDialogOpened"
    @close="onDialogClosed"
  >
    <template
      v-if="$scopedSlots.activator"
      #activator="{ on }"
    >
      <slot
        name="activator"
        :on="on"
      />
    </template>
    <template v-if="user">
      <text-control
        v-model="user.email"
        :label="$t('user.createDialog.fields.email')"
        :hint="$t('general.field.required')"
        persistent-hint
        :disabled="createRequestable.requestableLoading"
        :error-messages="createRequestable.validationErrorMessageFor('email')"
        :error-count="Number.MAX_VALUE"
        class="mb-5"
      />
      <text-control
        v-model="user.firstname"
        :label="$t('user.createDialog.fields.firstname')"
        :hint="$t('general.field.required')"
        persistent-hint
        :disabled="createRequestable.requestableLoading"
        :error-messages="createRequestable.validationErrorMessageFor('firstname')"
        :error-count="Number.MAX_VALUE"
        class="mb-5"
      />
      <text-control
        v-model="user.lastname"
        :label="$t('user.createDialog.fields.lastname')"
        :hint="$t('general.field.required')"
        persistent-hint
        :disabled="createRequestable.requestableLoading"
        :error-messages="createRequestable.validationErrorMessageFor('lastname')"
        :error-count="Number.MAX_VALUE"
        class="mb-5"
      />
      <objects-control
        v-model="user.groups"
        label="Gruppen"
        :list-request-parameter="{method: 'get', url: $apiEndpoints.groups.list()}"
        :disabled="createRequestable.requestableLoading"
        :error-messages="createRequestable.validationErrorMessageFor('groups')"
        :error-count="Number.MAX_VALUE"
      >
        <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
          <group-list-item
            :key="item.id"
            :indent="indent"
            :item-link="itemLink"
            :selectable="selectable"
            :selected="selected"
            :skeleton="item.skeleton"
            :value="item"
            v-on="toggleElement ? { click: () => toggleElement(item)}: {}"
          />
        </template>
      </objects-control>
    </template>
  </custom-dialog>
</template>
