@import 'vuetify/src/components/VTextarea/VTextarea.sass'

/* Theme */
+theme(v-input) using ($material)
  .ProseMirror
    color: map-deep-get($material, 'text', 'primary')

  &--is-disabled
    .ProseMirror
      color: map-deep-get($material, 'text', 'disabled')


.richtextarea, .activity-hub-comment-editor
  .tiptap-vuetify-editor
    width: 100%

    &--disabled
      cursor: initial

    .tiptap-vuetify-editor__content--disabled
      color: inherit
      &:after
        position: initial
        background-color: inherit

  .tiptap-vuetify-editor-pop
    z-index: 4

.tiptap-vuetify-editor .tiptap-vuetify-editor__content, .richtextarea-content.tiptap-vuetify-editor__content
  padding: 0
  line-height: 1.5

  word-break: break-word

  a
    pointer-events: auto

  p, ul, ol, pre
    margin-top: 0 !important
    margin-bottom: 16px !important

    &:first-child
      margin-top: 6px !important

    &:last-child
      margin-bottom: 6px !important

  blockquote
    margin: 16px 0 !important

  img
    max-width: 100%

  ul[data-type="todo_list"]
    margin: 16px 0 !important
    padding-left: 16px !important

    li[data-type="todo_item"]
      display: flex

      &:not(:last-child)
        margin-bottom: 8px !important

      & > .v-input--checkbox
        margin-top: 0 !important
        padding-top: 0 !important

      .todo-content > p
        line-height: 1.5
        margin: 0 !important

      span.todo-checkbox
        margin-right: 0.5em
        font-size: 24px
        line-height: 24px

        &:before
          display: inline-block
          font: normal normal normal 24px/1 "Material Design Icons"
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          content: "\F0131"

      &[data-done="true"] span.todo-checkbox:before
        content: "\F0132"
        color: #1976d2 !important
        caret-color: #1976d2 !important
