.theme--light.v-input--is-disabled.control--is-readonly {
  &, & input, & textarea, .ProseMirror {
    color: inherit;
  }

  &.custom-input-control .v-item-group .v-btn.v-btn--disabled {
    color: rgba(0, 0, 0, 0.87) !important;
    border-style: dashed;

    &.v-item--active {
      color: inherit !important;
    }
  }

  & .v-chip--disabled {
    opacity: 1;
  }

  &.custom-object-control .custom-object-control__divider {
      border-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 2px, transparent 0, transparent 4px) 1 repeat;
  }

  &.custom-object-control, &.file-control {
    & .v-card, & .v-card .v-list, & .v-list {
      color: inherit;
      & .v-list-item {
        color: inherit;

        .v-list-item__subtitle {
          color: inherit;
        }
      }
    }
  }
}

.v-input--is-disabled.control--is-readonly:not(.v-input--is-readonly) {
  pointer-events: auto;
}

.sticky-page {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.richtextarea.control, .activity-hub-comment-editor {
  .tiptap-vuetify-editor {
    .tiptap-vuetify-editor__toolbar {
        @extend .sticky-page;

      .v-toolbar {
        margin-top: 4px;
      }
    }
  }
}

div[class$="-page"] {
  .sticky-page {
    top: 55px;

    @media screen and (min-width: 960px) {
      top: 63px;
    }
  }

  .richtextarea.control, .activity-hub-comment-editor  {
    .tiptap-vuetify-editor {
      .tiptap-vuetify-editor__toolbar {
        @extend .sticky-page;
      }
    }
  }
}

div.workflow-edit-page {
  .sticky-page {
    @media screen and (min-width: 960px) {
      top: 138px;
    }
  }

  .richtextarea.control, .activity-hub-comment-editor {
    .tiptap-vuetify-editor {
      .tiptap-vuetify-editor__toolbar {
        @extend .sticky-page;
      }
    }
  }
}

div.task-edit-page {
  .sticky-page {
    @media screen and (min-width: 960px) {
      top: 189px;
    }
  }

  .richtextarea.control, .activity-hub-comment-editor  {
    .tiptap-vuetify-editor {
      .tiptap-vuetify-editor__toolbar {
        @extend .sticky-page;
      }
    }
  }

  .single-task {
    .sticky-page {
      @media screen and (min-width: 960px) {
        top: 141px;
      }
    }

    .richtextarea.control, .activity-hub-comment-editor  {
      .tiptap-vuetify-editor {
        .tiptap-vuetify-editor__toolbar {
          @extend .sticky-page;
        }
      }
    }
  }
}

div.share-show-page {
  .richtextarea.control {
    .tiptap-vuetify-editor {
      .tiptap-vuetify-editor__toolbar {
        top: 0;
      }
    }
  }
}