.workflows-control {
  &.v-card {
    background-color: transparent !important;
  }

  & > &__divider {
    color: rgba(0,0,0,.42);
    border-color: currentColor !important;
  }
}



.custom-skeleton-loader {
  .v-skeleton-loader__avatar {
    height: 36px;
    width: 36px;
  }

  .v-skeleton-loader__list-item,
  .v-skeleton-loader__list-item-two-line,
  .v-skeleton-loader__list-item-avatar-two-line,
  .v-skeleton-loader__list-item-three-line,
  .v-skeleton-loader__list-item-avatar-three-line {
    background-color: transparent !important;
  }

  .v-skeleton-loader__list-item-avatar-two-line {
    height: 62px;

    .v-skeleton-loader__avatar {
      height: 36px;
      width: 36px;
      margin-right: 8px !important;
    }
  }

  &.custom-skeleton-loader--no-indent {
    .v-skeleton-loader__list-item,
    .v-skeleton-loader__list-item-two-line,
    .v-skeleton-loader__list-item-avatar-two-line,
    .v-skeleton-loader__list-item-three-line,
    .v-skeleton-loader__list-item-avatar-three-line {
      padding-left: 0;
      padding-right: 0;
    }
  }
}


.custom-meta-list {
  display: flex !important;
  align-items: center;

  & > span, & > div, & > a {
    &:not(:first-child):before {
      content: "•";
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    &:last-child {
      &, & > *:last-child {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
      }
    }
  }
}


.handle:not(.handle-disabled), .cursor-drag-drop {
  cursor: move !important;
}
