<script>
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import ResetBtn from 'components/reset-btn.vue'
import CopyToClipboardBtn from 'components/copy-to-clipboard-btn.vue'
import Cacheable from 'mixins/cacheable'
import Controlable from 'mixins/controlable'
import { formatTime } from 'helpers/date'

export default {
  name: 'TimeControl',
  components: {
    ResetBtn,
    CopyToClipboardBtn
  },
  mixins: [Requestable, Cacheable, Controlable],
  props: {
    ...requestablePropFactory().props,
    value: {
      type: String,
      default: undefined
    },
    selectOnClick: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      menuOpen: false
    }
  },
  computed: {
    localizedTimeValue () {
      if (this.cacheValue) {
        return formatTime(new Date(`2000-01-01 ${this.cacheValue}`))
      } else {
        return ''
      }
    }
  },
  methods: {
    onMenuStateChanged (opened) {
      if (opened) {
        if (this.$refs.picker !== undefined) this.$refs.picker.selectingHour = true
        this.controlOnLock()
      } else {
        this.controlOnInput()
        this.controlOnChange()
        this.controlOnUnlock()
      }
    },
    onValueChanged (value) {
      if (this.selectOnClick) this.$refs.menu.save(this.cacheValue)
    },
    onRequestSuccess (data) {
      this.controlShowSuccessMessage()
      this.$emit('input', this.cacheValue)

      if (data) {
        this.$emit('request-success-data', data)
      }
    },
    onClearButtonPressed () {
      this.cacheValue = null
      this.onMenuStateChanged(false)
    }
  }
}
</script>
<template>
  <div>
    <v-menu
      ref="menu"
      v-model="menuOpen"
      :close-on-content-click="false"
      :return-value.sync="cacheValue"
      min-width="290px"
      offset-y
      transition="scale-transition"
      @input="onMenuStateChanged"
    >
      <template #activator="{ on }">
        <v-text-field
          :value="localizedTimeValue"
          :label="label"
          :loading="controlLoading"
          :disabled="controlDisabled"
          :dense="controlDense"
          :hide-details="controlHideDetails"
          :class="controlClass"
          :error-messages="controlErrorMessages"
          :error-count="Number.MAX_VALUE"
          :hint="controlHint"
          :persistent-hint="controlPersistentHint"
          :success-messages="controlSuccessMessage"
          :clearable="clearable && !controlDisabled"
          readonly
          v-on="on"
          @click:clear="onClearButtonPressed"
        >
          <template
            v-if="!hideAppend"
            #append
          >
            <reset-btn
              v-if="cachedValueChanged && controlHasError"
              @click="controlReset"
            />
            <copy-to-clipboard-btn
              v-if="cacheValue"
              :value="{'text/plain': localizedTimeValue}"
            />
          </template>
        </v-text-field>
      </template>

      <v-time-picker
        ref="picker"
        v-model="cacheValue"
        format="24hr"
        full-width
        scrollable
        @change="onValueChanged"
      >
        <template v-if="!selectOnClick">
          <v-spacer />
          <v-btn
            color="error"
            text
            @click="$refs.menu.save(null)"
          >
            Löschen
          </v-btn>
          <v-btn
            :disabled="!cachedValueChanged"
            color="primary"
            depressed
            @click="$refs.menu.save(cacheValue)"
          >
            Speichern
          </v-btn>
        </template>
      </v-time-picker>
    </v-menu>
  </div>
</template>
