- loco = notification.event.localized_object(true, current_user, false, true)
- payload_message = loco.dig(:payload, :message)

-# DEBUG:
-# = loco.inspect
-# Action:
-# = loco[:action]
-# Avatar:
-# = loco[:avatar].inspect
- base_style = "font-size: .875rem; font-weight: 400;padding: 2px 6px; border-radius: 10px;line-height: 1.5;margin: 0;overflow-wrap: break-word;letter-spacing: .0071428571em;text-decoration: none;"
- grey_style = "#{base_style}color: rgba(0,0,0,.87)!important; background-color: #eee!important;"

%mj-section{"background-color": "white"}
  -# width was determined experimentalally so "Öffnen" not be split into two lines, roughly 90px+ side paddings.
  -# Update width of other columns and empty column in payload-section below when changing this.
  %mj-column{width: "140px"}
    %mj-button{"background-color": "#1565C0", padding: "10px 10px 10px 10px", color: "white", href: object_reference_url(loco[:target])} Öffnen

  -# width is 900px (100%) - 110px ("Öffnen" button)
  -# Be sure to adapt the breakpoint in mailer.html.mjml to this value otherwise text will be cut off on screens smaller than this and bigger than breakpoint
  %mj-column{width: "760px"}
    %mj-text{"line-height": 1.7, padding: "0px 10px 0px 10px"}
      - loco[:chunks].each do |c|
        - case c[:type]
        - when "reference"
          %span{style: grey_style}= c[:text] # do not move the text into the next line or the tag-bubble around it will contain an extra space.
        - when "text"
          %span
            = c[:text]
        - when "text-value", "link"
          %i
            = c[:text]
        - else
          - raise "localized_object chunks other than text, text-value, and reference are not supported"

- if payload_message # text of comment
  %mj-section{"background-color": "white","padding-top":"0px"}
    -# Update width with column above
    %mj-column{width: "140px", padding: 0}
      %mj-divider{"border-color" => "lightgrey", "border-width" => "0px", :padding => "0"}
    -# Update width with column above
    %mj-column{width: "760px", "padding": "0px", "inner-border-left": "5px solid #ccc" }
      %mj-text{"line-height": 1.7, "background-color": "#f3f3f3", padding: "0px 10px 0px 10px", "css-class": "content"}
        - payload_html = Services::Mentioning.transform_mentions(payload_message) do |m|
          - raise "mention must be type reference" if m[:type] != "reference"
          - raise "mention must be position mention" if m[:position] != "mention"
          - %(<span style="#{grey_style}">#{m[:text]}</span>)
        - payload_html = Services::RichtextImageStorage.transform_image_urls(payload_html) { |image_path| absolute_url_for_mails(image_path) }
        != payload_html
        - payload_time_tracking = loco.dig(:payload, :time_tracking)
        - if payload_time_tracking.present?
          - time_tracking_message = Services::TimeTracking.message(payload_time_tracking)
          != time_tracking_message


%mj-section{padding: "5px"}
  %mj-column{padding: 0}
    %mj-divider{"border-color" => "lightgrey", "border-width" => "0px", :padding => "0"}
