<script>
import WorkflowListItem from 'list-items/workflow-list-item.vue'
import CreateWorkflowDialog from 'dialogs/create-workflow-dialog.vue'
import cloneDeep from 'lodash/cloneDeep'
import isArray from 'lodash/isArray'
import { routeFor } from 'helpers/route'

export default {
  name: 'WorkflowsControl',
  components: { WorkflowListItem, CreateWorkflowDialog },
  props: {
    label: { type: String, required: true },
    icon: { type: String, default: undefined },
    value: { type: [Object, Array], default: undefined },
    addable: Boolean,
    predecessorWorkflowId: { type: Number, default: undefined },
    disabled: Boolean
  },
  computed: {
    internalValue () {
      if (this.value) {
        return (isArray(this.value)) ? cloneDeep(this.value) : [cloneDeep(this.value)]
      } else {
        return []
      }
    }
  },
  methods: {
    ...{ routeFor },
    onWorkflowCreated (workflow) {
      if (workflow.nextTaskId) {
        this.$router.push(routeFor('task', workflow.nextTaskId))
      } else {
        this.$router.push({ name: 'tasks' })
      }
    }
  }
}
</script>
<template>
  <v-card
    class="workflows-control"
    outlined
  >
    <v-card-title class="pa-3 flex-nowrap">
      <v-icon
        v-if="icon"
        class="mr-1"
        size="28"
      >
        {{ icon }}
      </v-icon>

      <div class="mr-auto text-body-1 text--secondary text-truncate">
        {{ label }}
      </div>

      <create-workflow-dialog
        v-if="addable"
        :predecessor-workflow-id="predecessorWorkflowId"
        @success="onWorkflowCreated"
      >
        <template #activator="{ on }">
          <v-btn
            :disabled="disabled"
            color="primary"
            small
            text
            v-on="on"
          >
            Hinzufügen
          </v-btn>
        </template>
      </create-workflow-dialog>
    </v-card-title>

    <v-list
      class="py-0"
    >
      <template v-for="(item, index) in internalValue">
        <workflow-list-item
          :key="item.id"
          :class="[{'pt-2': index > 0}]"
          :value="item"
          :to="routeFor('workflow', item.id)"
          class="pb-2"
          indent
        />
        <v-divider
          v-if="index < internalValue.length - 1"
          :key="`list-divider-${item.id}`"
        />
      </template>
    </v-list>
  </v-card>
</template>
