!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0 interactive-widget=resizes-content"}
    = capybara_lockstep if defined?(Capybara::Lockstep)
    - if current_user
      = action_cable_meta_tag
    %title samarbeid
    = render 'layouts/favicon'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    %script#vue-config{type: 'application/json'}
      = raw render partial: "layouts/vueconfig", formats: [:json], object: current_user, as: :user
    - if content_for?(:messages)
      %script#vue-messages{type: 'application/json'}
        = yield :messages
    = vite_client_tag
    = vite_javascript_tag "application"
    = vite_javascript_tag "test" if Rails.env.test?
    = vite_javascript_tag "vue"
  %body
    %v-app#vue-app
      %app-wrapper
        = yield
